.bg-vermelho{
    background-color: crimson;
}
.bg-azul{
    background-color: dodgerblue;
}
.bg-topo{
    background-color:DarkRed;
}

.bg-menu{
    background-color: Brown;
}

.bg-conteudo{
    background-color: LightSalmon;
}

.carousel-inner img {
    margin: auto;
  }
  